[2019-06-26 10:32] patrickfuchs opened #8 "Refactorizing"
The main function `buildH_calcOP.py`  gets big. It would be nice to refactorize it by adding functions.
Also, the script `buildH_calcOP.py` could be factorized by adding modules.

[2019-06-26 10:33] patrickfuchs opened #9 "Long term goals"
- [x] Unit tests
- [x] Optimization / possibly multithreading
- [x] Packaging
- [x] Documentation

[2019-06-30 17:15] patrickfuchs opened #10 "Update vectors.png"
In the current version the yellow vectors don't fit the C-H bonds (drawn as sticks), although they should (and they do). That would be useful (in the long term) to show this also for the other types of H that we rebuild.

[2019-07-30 15:29] patrickfuchs opened #11 "Implement -b -e flags to select different slices of a trajectory"

[2019-08-12 10:04] patrickfuchs opened #12 "Force python 3 detection"
I realized that when installing MDAnalysis with python2.7, buildH doesn't issue any error but when it runs, it generates wrong results. So we should add a detection of python 3.7 (or higher).

[2019-08-14 17:00] patrickfuchs opened #13 "Add some help on how to install the required packages with conda"

[2019-10-13 15:42] patrickfuchs commented on #12
Done in 6bc8c68! Question to @HubLot and @pierrepo, in this [line](https://github.com/patrickfuchs/buildH/blob/6bc8c68162fb6c94ecfa99ef80ce98051977e10a/buildH_calcOP.py#L1089) I use the Exception UserWarning. Do you think it is the most appropriate?

[2019-10-14 07:20] pierrepo commented on #12
`UserWarning` seems OK to me.
But i'll advise to check strickly for Python >= 3.6 since f-string are a really nice feature.

[2019-10-14 07:25] pierrepo opened #14 "Use logging module"
For this kind of project, I'll advise to use the `logging` module instead of the `print()` function.

You will find here a small example : https://github.com/pierrepo/seq-to-first-iso/blob/master/seq_to_first_iso/seq_to_first_iso.py
First, import the module:
[code]
Then configure it:
[code]
Note that with `logging` you have the ability to print messages in the console and save them in a log file i

[2019-10-14 08:39] HubLot commented on #12
Seems good to me too.
But do you have a reason to restrict to Python >= 3.7 (or even 3.6) ? 3.5 is still maintained for a year for example (https://devguide.python.org/#branchstatus)

By the way, @patrickfuchs you removed the '#' in the first line of the script so it doesn't work anymore :D  : https://github.com/patrickfuchs/buildH/blob/6bc8c68162fb6c94ecfa99ef80ce98051977e10a/buildH_calcOP.py#L1

[2019-10-14 18:31] patrickfuchs commented on #12
Thanks guys for your answer 😄 ! For the version, it looks like 3.6 could be a good compromise, this could allow us to use f-strings indeed. Thanks also @Hublot for reporting the mistake on line 1, I was too tired yeasterday evening 😉.

[2019-10-17 15:19] patrickfuchs opened #15 "Add a message that PBC are not taken (yet) into account"
After a discussion with Hanne Antila, it looks like we can obtain "funny" results when the molecules are not whole (as produced by mdrun). So for now, it's probably useful to warn the user that he/she shall use trajectories with whole molecules (produced with `trjconv` with flag `-pbc mol`. In the future we can think about supporting molecules split at the boundaries. But this is low priority.

[2019-12-11 09:45] HubLot commented on #15
Maybe the best place is to put on the README ?

[2019-12-11 14:03] HubLot commented on #11
I started to look into it. It's not so trivial.
Should we use a gromacs-like slicing with time frame (from 1000ps to 2000ps) or MDAnalysis-like with the number of the frame (from frame 10 to frame 20) ?
The latter is simple : we just need to check the range and give it to MDAnalysis.
The former is more intuitive but more complicated. We have to do a bit of calculations to go from "frame 1000ps" to

[2019-12-17 18:17] patrickfuchs commented on #11
Following our discussion, it is more useful to give `-b` and `-e` in units of time rather than frame numbers. We can get the the starting time of the traj with `u.trajectory.time` (assuming `u` is a MDAnalysis universe) before looping on it, and the step between frames with `u.trajectory.dt`. So we also need to check whether the `-b` and `-e` values given by the user make sense with respect to the

[2019-12-19 08:33] HubLot commented on #11
I started working on it.
You can view the progress here: https://github.com/HubLot/buildH/tree/slice
Once it's mature, i'll make a PR

[2019-12-19 10:16] pierrepo opened #17 "Create PyPI package and update procedure"

[2019-12-19 10:16] pierrepo opened #18 "Create Bioconda package and update procedure"

[2020-01-09 18:44] #11 closed

[2020-01-21 09:03] HubLot commented on #8
I started the refactorizing and the slipt into modules in that branch : https://github.com/HubLot/buildH/tree/modules

[2020-01-21 09:04] HubLot commented on #9
For the unit testing, I implemented a proof of concept here (https://github.com/HubLot/buildH/tree/testing) with the GitHub actions.

[2020-01-29 09:28] patrickfuchs opened #21 "Update doc (Calculate OP on a subpart)"
Update documentation to explain that OP is calculated only on the H described in .def file. For example, on the following  `.def` file, OP is calculated only on the polar head :

[code]

[2020-02-01 17:50] patrickfuchs commented on #8
We're almost there after @HubLot's last PR. Next week I do my best to finalize this issue.

[2020-12-16 13:27] patrickfuchs opened #23 "Add an ignore hydrogens flag"
When one wants to use buildH to calculate OP only, without reconstructing Hs, from an all-atom trajectory.

[2020-12-21 11:10] pierrepo opened #27 "Add Zenodo description file"
Zenodo can be used to archive buildH source code.

Zenodo metadata can be defined in a file called `.zenodo.json`. Here's an example: https://github.com/pierrepo/autoclasswrapper/blob/master/.zenodo.json

For buildH, we need:

- [x] a title
- [x] author's ORCID
- [x] some keywords

[2020-12-21 11:11] pierrepo commented on #27
@patrickfuchs is

an appropriate title?

[2020-12-21 11:18] pierrepo commented on #14
And we will be able to replace these lines while keeping the ability to be verbose on debug:
[code]

[2020-12-21 11:20] pierrepo opened #28 "Install bumpversion to update easily version number"

[2020-12-21 11:46] patrickfuchs commented on #27
Well, I agree it's long, but at least it says what if does. I thought the title was `buildH` (repo name) and that this line was a short description. Seems like I'm wrong, Am I?

[2020-12-21 11:50] patrickfuchs commented on #14
OK great! So we just as to use this `log.something()`  instead of all the `print()` we have in the code. Quick question, how do we pass this log object when we have multiple modules?

[2020-12-21 11:55] patrickfuchs commented on #28
Very good suggestion. So far I just used `git tag`.

[2020-12-21 12:32] pierrepo commented on #27
No. The description you provided seems accurate and fine to me.

I just wanted to be sure.

[2020-12-21 12:46] pierrepo commented on #14
logging instances are automatically attached to the main module.
Here what you could declare in the main (`__init__.py`) module (see for instance [here](https://github.com/pierrepo/autoclasswrapper/blob/master/autoclasswrapper/__init__.py)):
[code]

and in your submodule (see also example [here](https://github.com/pierrepo/autoclasswrapper/blob/master/autoclasswrapper/output.py)):
[code]

We could

[2020-12-21 12:56] pierrepo commented on #14
One could also force log level through env variable:
[code]
That would probably be easier.

[2020-12-21 15:23] pierrepo commented on #27
@HubLot @patrickfuchs and @ABacle could you please provide me your [ORCID](https://orcid.org/)?

If you don't have such identifier, could you please [create one](https://orcid.org/register)?

[2020-12-21 15:36] HubLot commented on #27
Here's mine : https://orcid.org/0000-0001-6149-9480

[2020-12-21 16:29] patrickfuchs commented on #27
Here's mine : https://orcid.org/0000-0001-7117-994X

[2020-12-21 16:35] pierrepo opened #30 "Expand tests down to Python 3.6"
BuildH should work with Python 3.6. We should perform tests also with this version.

[2020-12-22 10:27] #30 closed

[2020-12-22 10:44] HubLot commented on #28
Bump version is not maintained anymore:  https://github.com/peritus/bumpversion
But there is some alternatives : [bump2version](https://github.com/c4urself/bump2version/) which is a fork or [python-versioneer](https://github.com/python-versioneer/python-versioneer) but seems more complicated.

[2020-12-22 10:57] pierrepo commented on #28
Thanks @HubLot
`bump2version` looks very nice and compatible with older `bumpversion` config file

[2020-12-22 11:58] pierrepo opened #32 "Remove template tag from repo"
This repo appears as a *template*:
![image](https://user-images.githubusercontent.com/733861/102886265-17f87580-4455-11eb-8e0b-df776b1ec438.png)

There is no reason for this. @patrickfuchs could you please remove this in the settings?
![image](https://user-images.githubusercontent.com/733861/102886394-4d9d5e80-4455-11eb-951e-441467b8c12e.png)

[2020-12-22 12:34] patrickfuchs commented on #32
Done! I think it was set by default when I created the repo. At that time, I didn't know the meaning of this 😉

[2020-12-22 12:34] #32 closed

[2020-12-22 13:50] pierrepo commented on #12
It looks like the detection of the Python version is not present in the code anymore.

In addition, by using a Python package, `setup.cfg` enforces Python >= 3.6

We could close this issue.

[2020-12-22 13:55] pierrepo opened #34 "Register buildH to Software Heritage"
Software Heritage allows archiving research software. There're very few steps to follow to be registered:

https://www.softwareheritage.org/save-and-reference-research-software/?lang=fr

[2020-12-22 14:18] #12 closed

[2020-12-22 14:20] patrickfuchs commented on #13
Since we are packaging everything (see #18 and #29), I think we can close this issue.

[2020-12-22 14:20] #13 closed

[2020-12-22 14:40] patrickfuchs opened #35 "Create doc"
I'm about to create a `doc` dir. I'll move there all the stuff related to doc (`vectors.png`, `CHARMM36_POPC_validation`), simplify the main `README.md` by move some of its content.
Once done, we can complete later the doc in a some appropriate format (sphynx?) and add notebooks to guide the user.

[2020-12-22 15:04] pierrepo commented on #35
Great!
`docs` with an *s* is more usual.

[2020-12-22 15:09] patrickfuchs commented on #35
Oops sorry, just renamed it 😄 !

[2020-12-22 17:10] patrickfuchs commented on #8
Thanks to #22 we can close this one.

[2020-12-22 17:10] #8 closed

[2020-12-23 09:16] pierrepo opened #38 "Update licence text"
For some reason, the licence text is not what it should be, as listed [here](https://choosealicense.com/licenses/bsd-3-clause/).

We should update the text licence appropriately.

[2020-12-23 09:37] pierrepo opened #39 "Improve PEP 257 compliance."
We should improve docstrings [PEP 257](https://www.python.org/dev/peps/pep-0257/) compliance. Especially for [one-line docstrings](https://www.python.org/dev/peps/pep-0257/#one-line-docstrings).

We could use `pydocstyle` for this. `pydocstyle` is already installed in the conda environement (see `binder/environment.yml`).

[2020-12-23 09:38] HubLot opened #40 "Check PEP257 for docstrings"
As pointed by @pierrepo in https://github.com/patrickfuchs/buildH/pull/37#discussion_r547853458, we should ensure buildH follow the  [PEP257](https://www.python.org/dev/peps/pep-0257/) for docstrings.

For example, with [one-line docstring](https://www.python.org/dev/peps/pep-0257/#one-line-docstrings), we should have:
[code]

[2020-12-23 09:41] HubLot commented on #40
duplicated of #39

[2020-12-23 09:41] #40 closed

[2020-12-23 10:35] patrickfuchs commented on #39
I'd say that https://python.sdv.univ-paris-diderot.fr/15_bonnes_pratiques/#152-les-docstrings-et-la-pep-257 is worth a read 😉
Note: since the beginning, I decided to use the *NumPy* style for docstrings.
I can also clean them up, so I also assigned myself to this issue.

[2020-12-23 10:37] patrickfuchs commented on #35
Hey @pierrepo, looking at https://github.com/pierrepo/PBxplore, I see it's called `doc` there. Any comment?

[2020-12-23 11:05] pierrepo commented on #35
Yep. It was an old projet (same for autoclasswrapper). I now tend to have `tests`, `docs`, `notebooks` and `devtools`, all with *s*

[2020-12-23 16:16] HubLot opened #43 "Create sub directory in test_data"
As discussed with @patrickfuchs, it will be better to have sub directories in `test_data`.
Currently, we only test a POPC with the forcefield Berger, but in the future, we could test several lipids and/or forcefields
Creating a sub-directory for each couple lipid-forcefield will help.
For now, we can create "POPC-Berger" and move the related files.

[2021-01-04 16:33] patrickfuchs opened #44 "Extend dic_lipid.py for other UA force fields and lipids"
So far in `dic_lipid.py`, we have only one UA lipid : Berger POPC. We also have CHARMM36-AA POPC, but it's an AA force field. This lipid is there because it was used to test whether the reconstruction from buildH gave a good match compared to an all-atom force field such as CHARMM36-AA.
In this issue, I suggest to extend dic_lipids.py to :

- other UA force fields, especially CHARMM36-UA. Here's a

[2021-01-05 14:28] patrickfuchs commented on #9
The tests are globally finished 😄 !  The packaging is ongoing and not far from finished. I added one item (documentation), I try to go forward on this and make a notebook example.

[2021-01-05 14:36] patrickfuchs commented on #28
Now that the tests are completed, that would be nice to at least add a tag and upgrade the version number (from 1.0.3 to 1.0.4). Regarding bump2version, I never used it, is it fast to implement? Shall I add a tag, or we wait for the bump2version implementation, what do you suggest?

[2021-01-05 15:31] pierrepo commented on #28
bump2version adds a tag automatically. I can have a look tomorrow morning.

[2021-01-05 16:27] patrickfuchs commented on #44
Samuli Ollila forked buildH and expanded `dic_lipids.py` for some other UA force fields : https://github.com/NMRLipids/buildH/commit/d0a2bc1b31f59e32032e84c6802404e9b540b48c
So before adding new stuff to `dic_lipids.py`, we shall restart from Samuli's version.

[2021-01-05 17:18] patrickfuchs commented on #35
I'm cleaning up the directory `Berger_POPC_test_case`, there are several files there. I think I should tidy up the files with extensions `apineiro_style.out` or `jmelcr_style.out`. Since the code now only generates one style, I'll keep that one.

[2021-01-05 19:18] HubLot commented on #44
We could cherry pick his commit and add it to master through a branch (like [this](https://gist.github.com/bhumphrey/3764983))

[2021-01-06 09:39] patrickfuchs commented on #44
Waoo, very impressive technique 😎 !!!

[2021-01-06 11:21] pierrepo commented on #27
@ABacle could you please provide me your ORCID or create one if needed (https://orcid.org/register)?

[2021-01-06 12:25] ABacle commented on #27
Here is my ORCID number : 0000-0002-3317-9110

[2021-01-06 12:49] pierrepo commented on #27
Thank you @ABacle  :+1:

[2021-01-07 07:40] #28 closed

[2021-01-07 08:31] HubLot commented on #44
I'm on it, should we add also into this repo the others def files from this commit or is it unnecessary?
(I think it's not needed)

[2021-01-07 08:49] patrickfuchs commented on #44
Well, in principle all lipids in `dic_lipids.py` should have the corresponding def file. So in principle I'd say yes, unless it's just another residue name and we can use the trick `Berger_PLA = copy.deepcopy(Berger_POPC)`.
I'm thinking now, maybe we should find a way to synchronize the def file from the MATCH repo (https://github.com/NMRLipids/MATCH/tree/master/scripts/orderParm_defs) ? This is s

[2021-01-07 09:01] #27 closed

[2021-01-07 11:20] HubLot opened #48 "Transform dic_lipids.py into json files"
After thorough discussion, it will be better to transform the `dic_lipids.py` into json files.
This `dic_lipids.py` is used to reconstructed hydrogens from a united atom bilayer.

This will allow the users to add their own .json files for their own trajectories.
A regular database of json will be created in the buildH source code into a directory called `lipids` to provide a set of supported lipid

[2021-01-07 11:24] HubLot opened #49 "Create a def_files directory"
Provide a set of order parameters definitions files into a directory called `def_files`.
Users will pick them to calculate the order parameters.

[2021-01-07 11:30] HubLot opened #50 "Specify the type of trajectory supported"
Currently, we can support any trajectory and topology files that MDAnalysis support.
But, our argument option for trajectory is `-x, --xtc` wich implies that only xtc trajectory files are supported.

We should change it to a more general option name and specify it in the documentation

[2021-01-08 18:36] patrickfuchs opened #52 "Correspondance lipid name / residue name"
By creating a notebook example, I realized we don't check the correspondance between the lipid name given with `-l` option and the residue name in the PDB. For example:

[code]
Rather unclear, isn't it 😆 ???

The error above comes from the use of `Berger_POPC` instead of `Berger_PLA` with the `-l` option.

Additionnally, I'm thinking maybe we should also make a check between the argument passed to

[2021-01-10 17:38] patrickfuchs opened #53 "Generation of xtc with one frame?"
When the user provides a single pdb file without any trajectory (no use of `-x`), and the trajectory with H is requested with option `-opx`, buildH generates a pdb and an xtc. The xtc file contains only one frame, it's thus useless. Maybe we can check if `-x` is not used and `-opx` is used to generate only the pdb?

[2021-01-11 09:00] patrickfuchs commented on #49
I'll create this dir ASAP, hopefully today. Since I'm currently creating notebooks, it'll avoid to change how we get the def files in these notebooks.

[2021-01-11 09:26] HubLot commented on #53
Yes, we should check that.

[2021-01-11 10:06] HubLot commented on #52
One solution is to check that residue name is present before going in the rebuild + compute OP phase.

Same for the link between `-l` and `-d` options.

[2021-01-11 12:00] patrickfuchs commented on #52
👍 Yes definitely!

[2021-01-11 12:42] #53 closed

[2021-01-11 18:35] patrickfuchs opened #57 "Check results between buildH & JMelcr program"
I think we should add a subdir in `Berger_test_case` dir showing a validation of the order parameter calculated by buildH. I did the test on the traj of 25 frames, the mean diff is 0.000166585365853658. Not bad 😛 !

[2021-01-14 08:53] #52 closed

[2021-01-14 17:18] #43 closed

[2021-01-18 16:16] #57 closed

[2021-01-20 07:18] patrickfuchs commented on #48
I reopen this issue because we're not done yet. I checked what's been done above. I think the most urgent thing is to implement *Provide a list of supported lipids when using the `-h`*. We can discuss it this afternoon.

[2021-01-20 08:02] HubLot commented on #48
It's done ;)
It's within the `epilog` of the `ArgumentParser` constructor:
https://github.com/patrickfuchs/buildH/blob/6c796618e1a5a8b3f31a45d65a690770fbd80d16/buildh/cli.py#L132-L134

[code]

[2021-01-20 08:03] HubLot commented on #48
but the issue #44 is not done.

[2021-01-20 10:16] patrickfuchs commented on #48
Oops sorry 😁... Great, so I can incorporate that into the first notebook. I checked the corresponding checkboxes up there.
So indeed, what is left to do is adding new lipids (#44). Almost there!

[2021-01-20 10:38] patrickfuchs opened #63 "Hydrogens pro-S and pro-R"
In an NMR lipids [post](http://nmrlipids.blogspot.com/2019/11/nmrlipids-ivb-preparing-manuscript.html?showComment=1586449578583#c6981745254643756632), we talked some time ago about being consistent regarding which hydrogens are pro-R and which are pro-S. So far if we buildH on, say `C31`, we build `H311`  and `H312`. So we add `1` and `2` suffixes. The idea would be for example to assign `1` to th

[2021-01-20 15:17] patrickfuchs opened #64 "CHARMM validation cleaning up"
Move CHARMM_POPC.json to there in dir `lipids`.

[2021-01-20 16:45] patrickfuchs commented on #64
In fact, I just need to update the `launch.sh` I used to generate the notebook `report_buildH.ipynb` and push the script to the repo.

[2021-01-21 11:33] #39 closed

[2021-01-22 08:16] patrickfuchs commented on #63
Samuli Ollila created a new [issue](https://github.com/NMRLipids/NMRlipidsIVPEandPG/issues/41) on the Databank project of NMRlipids. We'll discuss there how to be consistent with the input files between both projects.

[2021-01-22 08:23] patrickfuchs commented on #63
For info, maybe the NMRlipids will stop using `.def` files and using mapping names instead. We plan to discuss this soon with them.

[2021-01-22 08:30] patrickfuchs commented on #23
After a discussion, we may add another entry point for this functionality. It would not make much sense to use a program called *builH* if it doesn't build new H 😉 More to come soon.

[2021-02-01 19:42] pierrepo commented on #35
@patrickfuchs could you please create yourself an account on [ReadTheDocs](https://readthedocs.org/accounts/signup/)?
- I advise you to sign up with your GitHub account. It will ease this import of your project.
- Once connected, click on "Import a project", select buildH repo and click on the "+" button
- Then, on the projet itself, click on "Admin" and then "Maintainers". At this point could you

[2021-02-04 08:57] HubLot opened #67 "Document the use of the json files"
Following #66 and the re-work of the documentation, we should explain in the `buildh.md` file the role and architecture of the json files for the lipid topologies.

[2021-02-04 09:21] patrickfuchs commented on #35
Thanks @pierrepo ! Here's the URL: https://readthedocs.org/projects/buildh/ and I added you as maintainer.
@HubLot: I couldn't add you as maintainer, I guess you have to create an account on readthedocs?

[2021-02-04 09:47] #35 closed

[2021-02-04 09:49] pierrepo commented on #35
@patrickfuchs

Adding `Hub_lot` worked for me: https://readthedocs.org/profiles/Hub_lot/

[2021-02-04 10:05] HubLot commented on #35
thanks!

[2021-02-04 10:29] pierrepo opened #68 "Use mamba to create environement at Read the Docs"
The [feature flag](https://docs.readthedocs.io/en/stable/guides/feature-flags.html) `CONDA_USES_MAMBA` enables mamba instead of conda to create the environment at Read the Docs.

Unfortunately documentation is not very explicit on how to use feature flag...

[2021-02-04 10:33] patrickfuchs commented on #35
The problem was the underscore !

[2021-02-04 10:33] pierrepo opened #70 "Add GitHub CI badges"
It would be nice to add CI badges for testing code and documentation.

[2021-02-04 12:55] pierrepo commented on #68
OK. So we have to send an e-mail to the admin team:

https://twitter.com/JohanMabille/status/1357307519639642113

I'll handle it.

[2021-02-04 12:58] pierrepo commented on #68
Mail sent.

[2021-02-04 12:58] HubLot commented on #68
Great but is it necessary for our case? Can we try the regular conda and see how it goes?

[2021-02-04 13:01] patrickfuchs commented on #68
Yeah, his name is speedypierrepo 🚤 !

[2021-02-04 13:06] pierrepo commented on #68
Yes. Building conda env is always slow and we have quite some dependencies in `binder/requirements.yml`. Mamba is very useful here.

[2021-02-04 13:32] pierrepo commented on #68
![image](https://user-images.githubusercontent.com/733861/106899493-b84ce580-66f5-11eb-9740-2ecf71f39bc1.png)

:tada:

[2021-02-04 13:51] patrickfuchs commented on #68
yeah 🎆 !

[2021-02-04 14:06] #70 closed

[2021-02-04 14:48] pierrepo opened #72 "Connect repo to Zenodo"
@patrickfuchs
Could please connect the repo to Zendo with these [guidelines](https://guides.github.com/activities/citable-code/)?

Once done, can you try to publish a new release? Everything should be explained here: `buildH/devtools/RELEASE.md`

[2021-02-04 14:49] pierrepo commented on #68
For the record, e-mail of the request at support@readthedocs.org:
[code]

[2021-02-04 15:59] pierrepo commented on #68
It's done.
Build time has been reduced from 852": https://readthedocs.org/projects/buildh/builds/12936203/
down to 586" : https://readthedocs.org/projects/buildh/builds/12937020/

[2021-02-04 15:59] #68 closed

[2021-02-05 09:32] patrickfuchs opened #73 "Advertise buildH"
I create this issue to gather a few places where we can advertise buildH. Here are a few ideas:

- First, we are cited on the [NMRlipids blog](http://nmrlipids.blogspot.com) ;
- It'll be *a priori* cited in some future NMRlipids papers ;
- We can add a link on our personal web page ;
- We can publish a post on this [GROMACS forum web page dedicated on third-party tools](https://gromacs.bioexcel.eu

[2021-02-09 14:17] pierrepo commented on #72
@patrickfuchs did you time to have a look?

[2021-02-09 15:25] patrickfuchs commented on #72
No sorry... This week, I'm loaded with teaching duties and a GENCI application (deadling friday morning). I do my best to look at this ASAP, hopefully friday afternoon.

[2021-04-09 15:55] patrickfuchs commented on #72
Done 😎! I have added the badge to `README.md`.

[2021-04-09 15:55] #72 closed

[2021-04-09 16:50] patrickfuchs opened #74 "Implement cholesterol"
In a [recent discussion of the Databank project](https://github.com/NMRLipids/Databank/issues/9), I proposed to implement cholesterol in buildH.

[2021-04-09 16:58] #49 closed

[2021-04-13 19:12] pierrepo opened #76 "Add "Powered ny MDAnalysis" badge"
We could add this badge ![](https://img.shields.io/badge/powered%20by-MDAnalysis-orange.svg?logoWidth=16&logo=data:image/x-icon;base64,AAABAAEAEBAAAAEAIAAoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJD+XwCY/fEAkf3uAJf97wGT/a+HfHaoiIWE7n9/f+6Hh4fvgICAjwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACT/yYAlP//AJ///wCg//8JjvOchXly1oaGhv+Ghob/j4+P/39/f3IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

[2021-04-14 06:25] #76 closed

[2021-04-15 18:00] patrickfuchs commented on #17
Je viens d'essayer, j'obtiens ça :

[code]
Je re-essaierai demain matin !

[2021-04-15 18:20] pierrepo commented on #17
Maybe your password was wrong. You should try to re-enter it.

[2021-04-16 06:54] patrickfuchs commented on #17
Indeed, I mistyped the password because it was too complicated 😅 ! I retried and it worked:

[code]

[2021-04-16 06:54] patrickfuchs commented on #17
Yes !!! https://pypi.org/project/buildh/ 🚀

[2021-04-16 06:55] patrickfuchs commented on #17
If you agree @pierrepo, I think we can close this issue.

[2021-04-16 07:34] pierrepo commented on #17
Last thing, could you please add @HubLot and myself as maintainers? This could be useful in case of emergency.

[2021-04-16 08:36] #17 closed

[2021-04-16 09:31] #9 closed

[2021-04-16 09:33] HubLot commented on #14
wont be implemented

[2021-04-16 09:33] #14 closed

[2021-04-16 09:42] patrickfuchs commented on #48
We close this issue since it's redundant with #44 at this stage.

[2021-04-16 09:42] #48 closed

[2021-04-16 09:46] HubLot opened #77 "Implement a way to use buildH as a simple module"
It will be useful to have a way to use buildH as a module to be called in others python scripts

[code]

[2021-04-16 09:53] patrickfuchs commented on #64
Keep only the pdf file. Move all the files on Zenodo.

[2021-04-16 13:04] patrickfuchs commented on #9
We decided not to go on for multithreading for now.

[2021-04-16 14:28] pierrepo commented on #18
Documentation: https://bioconda.github.io/contributor/setup.html

[2021-04-23 15:35] patrickfuchs commented on #64
At the beginning I was thinking to update the validation procedure (notebook) with the new version of buildH. But it's a bad idea. It has been done in August 2019 with a version of buildH we can retrieve by jumping to the right commit. So it's better to report it as it was done at that time. Afterwards, we added tests and took care that the results generated with all new versions were stable. To k

[2021-04-23 16:01] #64 closed

[2021-04-24 18:01] patrickfuchs opened #78 "Be clearer when there is an error with the user supplied json file"
Making a try with a toy (user supplied) json file:

[code]
This error message is not very precise. The user can't find where the error comes from in the json file.

When doing this by hand:
[code]

Here we can see that it comes from line 4 column 1. Easier to debug.
In fact the error was coming from a comma at the end of the last line :

[code]

It makes me think to warn the user about this: don't

[2021-04-26 13:42] HubLot commented on #78
Yes, I hide the traceback of the exception thrown by the JSON parser. I thought it would make the output unreadable with uninformative lines. JSON format is pretty well-known so I thought it will be easy to spot a mistake in it.

We can keep the traceback if you think it's not enough.

[2021-04-26 14:11] patrickfuchs commented on #78
I agree the Traceback is polluted by too much text. But on the other hand, knowing the problem comes from line *x*  column *y* is very useful in a file with a few dozens of lines. If we could keep only the last line `json.decoder.JSONDecodeError: Expecting property name enclosed in double quotes: line 4 column 1 (char 61)` which is informative, that would be ideal. Don't know if it's doable though

[2021-04-29 09:38] #78 closed

[2021-04-29 16:49] patrickfuchs commented on #67
Done in eafc5cf.

[2021-04-29 16:49] #67 closed

[2021-04-29 17:05] #21 closed

[2021-04-29 17:24] patrickfuchs opened #82 "Update doc about Numba"
At least it should be stated in the main `README` that **buildH** is accelerated with Numba. Also a couple of pages in the `docs` directory will have to be updated, as well as in `notebooks`.

[2021-04-29 17:30] patrickfuchs opened #83 "Write doc about command line options"
Complete `command_line_options.md`.

[2021-04-30 07:01] HubLot commented on #82
I already amended the requirements part in the `README` but you're right, docs and notebooks should be updated too

[2021-04-30 15:21] patrickfuchs commented on #50
It has been specified in the help (`-h`) some commits ago. And it is now written in the doc as well: https://buildh.readthedocs.io/en/latest/command_line_options.html#output-trajectory. So I close this issue.

[2021-04-30 15:21] #50 closed

[2021-05-03 08:38] patrickfuchs opened #84 "Equations in the doc"
In the section [Statistics](https://github.com/patrickfuchs/buildH/blob/master/docs/buildh.md#statistics), I entered some equations in Latex format between `$`, e.g. `$f(x) = x^2$`. Unfortunately, Sphynx does not convert them into a real equation on [readthedocs](https://buildh.readthedocs.io/en/latest/buildh.html#statistics). I Tried to look at Sphynx doc, but it is not easy to tease things apart

[2021-05-03 08:43] #77 closed

[2021-05-03 08:48] patrickfuchs commented on #83
Mainly done on commit 5a7872d.

[2021-05-03 08:48] #83 closed

[2021-05-03 09:11] pierrepo commented on #84
Maybe this trick could help: https://github.com/readthedocs/recommonmark/issues/133

[2021-05-03 09:14] HubLot commented on #84
I'm trying this trick on my fork, i'll let you know

[2021-05-03 12:02] HubLot commented on #84
doesn't seem to work... https://buildh.readthedocs.io/en/issue_84/buildh.html

[2021-05-03 13:18] patrickfuchs opened #85 "Order parameter formula"
Add it 😉

[2021-05-04 10:07] patrickfuchs opened #86 "Getting rid of MDAnalysis warnings"
When launching **buildH** many MDAnalysis warnings pollute the output :

[code]

It's very confusing and I find difficult to extract what is the real **buildH** output. That'd be nice to get rid of these warnings, I guess it's doable but don't know how to do that. Any idea?

[2021-05-04 13:33] HubLot commented on #86
Here, you have both MDAnalysis warnings and Numpy ones in the MDA package :)

We can ignore at least the MDA ones  by using (I guess in the `__init__.py`)
[code]

[2021-05-04 13:41] patrickfuchs commented on #86
Excellent, thanks @HubLot 👍 For the MDA ones, I guess they come from a non-standard PDB or no time info, thus they can be safely ignored. For the Numpy ones, they are about deprecated functions, maybe we can try to fix those?

[2021-05-04 14:07] HubLot commented on #86
No, the warnings are in the MDA package, it is up to them to fix those.

[2021-05-04 14:20] patrickfuchs commented on #86
OK in this case, I suggest to make all these warnings silent as you suggest 😄 !

[2021-05-06 17:51] #10 closed

[2021-05-06 18:12] patrickfuchs opened #88 "Simplify CH calculation in hydrogens.py"
Following the code of Jon Kapla, in function `get_CH()`of `hydrogens.py`, we have:

[code]

In fact, we could simplify it by avoiding two useless translations of +/- atom:

[code]
This is the strategy described in the [doc](https://buildh.readthedocs.io/en/latest/algorithms_Hbuilding.html#building-ch). I think it'll be more precise and faster like this. The OP doesn't change up to 5 digits. For th

[2021-05-07 12:55] patrickfuchs commented on #88
One important note, I forgot to normalize the vectors when calculating `v2` up there. The correct way is:

[code]

[2021-05-07 14:39] #88 closed

[2021-05-07 15:21] patrickfuchs commented on #15
This issue should have been close with commit a296866 (I made a typo in the message with issue number 🤣)

[2021-05-07 15:21] #15 closed

[2021-05-11 08:26] pierrepo commented on #84
We could try the new [MyST](https://myst-parser.readthedocs.io/en/latest/using/intro.html) Markdown parser.

[2021-05-11 09:51] pierrepo opened #92 "Automate PyPI package deployment upon release"

[2021-05-11 15:43] patrickfuchs opened #94 "Add an example on a mixture of lipids"
This can be done e.g. on a PC/PE mixture : https://zenodo.org/record/1402449.
Idea: create a notebook and show how to perform the analysis lipid by lipid. The notebook should also show how to output trajectories with hydrogens lipid by lipid.

[2021-05-17 14:18] patrickfuchs opened #96 "Be more explicit on error message"
I recently encountered this error message:

[code]

I found it not very clear. First the word `topology` is not defined. If we want to use that word, we should define it in the doc. But I'd be rather more explicit and say that there is merely a mismatch between the pdb (or gro) file and the def file.

Initially, this was a first try with Berger POPE. The culprit lines were:

[code]

while the pdb

[2021-05-17 14:55] HubLot commented on #96
The error message is in fact due to a mismatch between the def file and the json file (hence the word _topology_ for the json file).
It says `"Some atoms (N4)"`. Here, it seems the **N4** atom is not present in the json file.
Do you have a json file for the POPE ?

I agree we can be more explicit with this message (specially since we can treat nitrogen also, it just depends on the json file.

[2021-05-17 15:04] patrickfuchs commented on #96
OK, so I'd prefer `Some atoms (N4) from the definition file are not present in the json file.` 😉

Sure!

Well I don't know if we need to add N-H. I'm not sure we can have 2H NMR data because those deuterons are exchangeable.

[2021-05-17 15:38] HubLot commented on #96
okay !

Okay, you're right.

But what was the error at the end ? A bad json ?
Because it don't check whether it's a Carbon or Nitrogen, only if the def and json matches

[2021-05-17 15:54] patrickfuchs commented on #96
Correct! The start of the json file was:

[code]

There's no line starting with `"N4"`, hence the error. But indeed, with one extra line ` "N4": ["CH2", "C5", "C6"],`, it would have worked 😉 !

[2021-05-17 15:59] pierrepo opened #97 "Register buildH to bio.tools"
[Bio.tools](https://bio.tools/) is a registry for software and databases used in life sciences. This registry is maintained by Elixir.

We should register buildH to bio.tools.

@HubLot and @patrickfuchs could you please [create an account](https://bio.tools/signup) in the bio.tools user portal and provide me your username?

[2021-05-17 17:37] patrickfuchs commented on #97
I just signed in, my user name is `patrickfuchs`.

[2021-05-19 07:08] patrickfuchs opened #98 "Residue number in PDB > 9999"
By testing a POPC / POPE system (https://zenodo.org/record/1402449), I got the following error:

[code]

The pb is here in the generated pdb (with hydrogens) when the residue number gets over 9999:

[code]

I think we need to reset this number to 1 or 0 when it exceeds 9999. For info, GROMACS resets it to 0.

[2021-05-19 07:35] patrickfuchs commented on #98
Above, I gave a gro file as input. Even if I give a pdb which has the resnum reset to 0:

[code]
MDAnalysis ignores the PDB resnum and uses its own (by doing a print I get this):

[code]
So we have to reset the resnum ourselves in `core.py`: https://github.com/patrickfuchs/buildH/blob/3ef6ae022761abaa1d04b36546412911b721dfba/buildh/core.py#L106

[2021-05-19 13:55] HubLot commented on #97
Mine is `HubLot`

[2021-05-19 14:19] #98 closed

[2021-05-19 14:19] #96 closed

[2021-05-19 18:37] patrickfuchs commented on #84
Since this merge, it seems that the compilation no longer works : https://readthedocs.org/projects/buildh/builds/13803288/
Sphynx can't find the theme. @pierrepo could you have a look?

[2021-05-19 19:10] pierrepo commented on #84
Weird. I cannot reproduce the error locally...
Can you please open a new issue @patrickfuchs ?

[2021-05-20 08:05] patrickfuchs opened #101 "Compilation of documentation with MyST on readthedocs"
Following issue #84 and the introction of MyST (commit 565f2ce), it seems that the documention no longer compiled: https://readthedocs.org/projects/buildh/builds/13803288/. The error message is `no theme named 'sphinx_book_theme' found (missing theme.conf?)`. This pb does not appear locally.
Another weird thing, on the main page https://readthedocs.org/projects/buildh/, there is a version called [

[2021-05-20 14:42] patrickfuchs commented on #101
OK now I understand, `fix-readthedocs-sphinx-book-theme` is the name of a new branch you just created 😉 !

[2021-05-20 14:49] pierrepo commented on #101
Hello @patrickfuchs
Yes, `fix-readthedocs-sphinx-book-theme` is a new branch to try to fix this issue.
But the work is still in progress...

[2021-05-20 14:54] patrickfuchs commented on #101
At least I see the right layout of MyST 😄

[2021-05-21 07:20] #94 closed

[2021-05-21 13:17] patrickfuchs commented on #101
Hi @pierrepo, could you find a solution to that issue? Shall I wait for this issue to be solved before releasing a new version?

[2021-05-21 15:19] patrickfuchs commented on #44
I just added Berger POPE. I'm almost finished with Berger cholesterol. I put a check list of the lipids (+ a Zenodo link to a traj example) that would be nice to add (the most important ones are highlighted) :

Berger

- [x] POPC
- [x] POPE
- [ ] POPS (https://zenodo.org/record/1129425)  <---
- [ ] DOPC (https://zenodo.org/record/1402411)   <---
- [ ] DOPE (https://zenodo.org/record/1293928)
- [ ]

[2021-05-21 18:01] patrickfuchs commented on #101
Great it works now 👍

[2021-05-21 18:01] #101 closed

[2021-05-25 12:45] HubLot opened #103 "Folder "buildh/lipids/" is missing when building buildh archive"
Hi, when trying to build a conda package, I realized that the tar.gz from Pypi doesn't contain the folder `lipids` (where the json files are). In fact, it's during the build process those files are not added.

You can reproduce it by launching `make build` and check the generated archive : ` dist/buildh-1.3.0.tar.gz`

It's weird because the wheel file (`dist/buildh-1.3.0-py3-none-any.whl`) list th

[2021-05-25 16:57] #103 closed

[2021-05-26 10:17] HubLot commented on #18
PR (https://github.com/bioconda/bioconda-recipes/pull/28673) on Bioconda merged.

I'll update the docs

[2021-05-26 13:39] #18 closed

[2021-05-26 13:45] patrickfuchs opened #106 "Update H naming convention"
The newly built H are named according to the def file (4th column), for example:

[code]
The two H reconstructed on `C5` will be name `H51` and `H52` because its written like that in the def file. There are a couple of places in the doc where this needs to be corrected (in `def_format.md`, `json_format.md` and `buildh.md`).

[2021-05-26 15:49] #106 closed

[2021-05-26 16:25] #82 closed

[2021-06-03 17:29] patrickfuchs opened #108 "buildH logo"
Here's a first try for **buildH** logo.

![buildH](https://user-images.githubusercontent.com/13885052/120687042-eb379800-c4a1-11eb-9eb8-c58ecc154bdc.png)

What do you think?

[2021-06-04 09:02] HubLot commented on #108
I like it very much!!
It may be a bit to wide for a logo. One could replace the "Sch" by a drawing the theta angle between one CH and a Z-axis (to drawn too) in the 2nd picture.

[2021-06-04 10:57] patrickfuchs commented on #108
Thanks @HubLot! I thought about adding theta angle, but I'd like to keep S_CH to make clear that the ultimate goal is to compute the order parameter. But I agree it was too wide 😅 Here's a second proposition:

![buildH_2](https://user-images.githubusercontent.com/13885052/120791181-28e50100-c534-11eb-9765-28336b96538b.png)

I realize the blue color for vector z may not be the best, but I wanted a

[2021-06-04 12:31] patrickfuchs opened #109 "JOSS paper"
Hello there, I put a first version of the paper in the dir `paper`. I have to work on it a bit and then I make you know once you can have a look and amend it.

[2021-06-07 07:13] pierrepo commented on #108
I like very much this second version, more compact than the first.

[2021-06-07 07:25] HubLot commented on #108
same for me! For the blue color, you can try a less "flashy" blue, like [1774ac](https://www.colorhexa.com/1774ac) but anyway, it's great!

[2021-06-07 08:39] patrickfuchs commented on #108
Thanks for your feedback ! I followed your suggestion with the blue:

![buildH_3](https://user-images.githubusercontent.com/13885052/120986137-8f5c6000-c77c-11eb-90d9-ec45ce89ecf6.png)

I think it's nice like this 😄!

[2021-06-07 08:42] HubLot commented on #108
yes!!

[2021-06-10 17:38] #74 closed

[2021-06-10 17:40] patrickfuchs opened #110 "Reorder C-H in Berger cholesterol def file"
The [cholesterol def file](https://github.com/patrickfuchs/buildH/blob/master/def_files/Berger_CHOL.def) should be reordered. Currently, it starts at C5 while C1, C2, etc., are many lines away.

[2021-06-11 08:26] patrickfuchs commented on #108
Done in 81ce6f7. That's very nice to see the logo when reading the README or the first doc page 😝 !

Now that would be nice to add the logo on top of the left menu. @pierrepo I looked at your link, I found this paragraph that seems interesting: https://jupyterbook.org/start/overview.html#book-configuration-config-yml
But I'm not sure how to do this. Do we need to create a yaml file?

[2021-06-11 09:37] pierrepo commented on #108
I'm not sure yet. I will have a look.

[2021-06-11 13:49] patrickfuchs commented on #109
After b90d3a2, I think the paper is ready for your review. Maybe reading this before would be good: https://joss.readthedocs.io/en/latest/submitting.html
I only included sections `Statement of need` and `Overview` but not `Summary` or `Background` because I thought it'd be redundant. While you read that, I try to finish the last small details.

[2021-06-14 14:16] pierrepo opened #112 "Bug in hierarchical organization of items in doc"
In the right menu in the doc, `User manual`, `Tutorials` sections appear as subsections of `Licence`:

![image](https://user-images.githubusercontent.com/733861/121906817-c528b800-cd2b-11eb-990e-1a0a053373ce.png)

![image](https://user-images.githubusercontent.com/733861/121906757-b5a96f00-cd2b-11eb-92e7-100a395144ad.png)

Is this really intended?

[2021-06-14 14:25] patrickfuchs commented on #112
Good catch @pierrepo, I didn't realize this! This comes after the doc re-organization proposed by @HubLot. I think it was not intended 😉

[2021-06-15 08:32] HubLot commented on #112
oops

[2021-06-15 09:04] HubLot commented on #109
By reading the `submitting` section, it looks like to me that the `Summary` is mandatory, no ? (see here also : https://joss.readthedocs.io/en/latest/review_checklist.html)

[2021-06-15 10:09] patrickfuchs commented on #109
I think they don't talk about the section `Summary` itself. If we look at the following sentence: *Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?*
To me there is such a description in the section `Overview`. By looking at some examples of published papers in JOSS, many of them don't have a section `Summary`.

[2021-06-15 11:21] pierrepo commented on #109
I don't think we need a summary, although me might create a `Background` section with the first part of `Statement of need`.

[2021-06-15 11:44] HubLot commented on #109
okay my bad then. I was looking some examples too and they all have the `summary` section :D

[2021-06-15 12:25] #112 closed

[2021-06-15 12:39] patrickfuchs commented on #109
Bad luck 😉

I like the idea of adding a `Background` section before `Statement of need`. This latter section could start by the sentence *It is pretty easy to reconstruct Hs from the heavy atoms using standard geometric rules respecting stereochemistry.* I also propose to change this last sentence  to *Reconstructing Hs from the heavy atom coordinates can be done using standard geometric rules res

[2021-06-15 12:40] #108 closed

[2021-06-15 20:25] pierrepo commented on #97
All set: https://bio.tools/buildh

[2021-06-15 20:25] #97 closed

[2021-06-16 07:09] pierrepo opened #116 "Add community guidelines"
According to JOSS [Review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html)

We should add in the documentation clear guidelines on contribution and bug report.
A `CONTRIBUTING.md` file in the repo could also help (see [example](https://github.com/pierrepo/autoclasswrapper/blob/master/CONTRIBUTING.md))

[2021-06-16 07:38] pierrepo opened #117 "Update authors order"
Update authors order according to the paper order, in files:

- `.zenodo.json`
- `setup.cfg`
- `buildh/__init__.py`

[2021-06-16 08:40] #34 closed

[2021-06-16 08:43] patrickfuchs commented on #109
@pierrepo, I merged PR #114 from @HubLot, so you can go ahead if you want to propose some modifications on the paper. Thanks!

[2021-06-16 20:11] pierrepo commented on #86
Hello @patrickfuchs and @HubLot
Is this issue fixed?

[2021-06-17 07:56] patrickfuchs commented on #86
Not yet! @HubLot & @pierrepo could you please test buildH on a simple traj and tell me whether you get those warnings? I'm wondering if they come from my old version of Ubuntu.

[2021-06-17 08:11] #117 closed

[2021-06-17 08:27] pierrepo commented on #86
I did not find `PO3C.pdb`, `Berger_PO3C_POC3.def` and `Berger_PO3C.json` files in the repo.
You could please include them in the repo? Maybe in `docs/Berger_PO3C_test_case`?

[2021-06-17 08:40] patrickfuchs commented on #86
In fact PO3C molecule was a dummy molecule I used for making figures for the doc 😉 I get these warnings on any traj, so you can test for example the [POPC beger test case](https://github.com/patrickfuchs/buildH/tree/master/docs/Berger_POPC_test_case) (you'll need start_128popc.pdb, popc0-25ns_dt1000.xtc & order_parameter_definitions_MODEL_Berger_POPC.def). Thanks!

[2021-06-17 11:22] pierrepo commented on #86
Here's the output I got:
[code]

[2021-06-17 11:32] pierrepo opened #119 "Add `-v` and `--version` options"
For reproducibility, it's often useful to output the version of the tool we use.

It might be pertinent for `buildH` to provide its version as well. For instance:
[code]

[2021-06-17 12:22] patrickfuchs commented on #119
Yes, very good idea 👍 Someone has time to implement this option?

[2021-06-17 12:33] patrickfuchs commented on #86
Thanks @pierrepo. Looks like these warnings appear always, so we should implement @HubLot 's suggestion. I'm not sure what to put in the argument `message=` in the call of `warnings.filterwarnings("ignore", message="Element information [...]"`. @HubLot, did you try this out?

[2021-06-17 12:34] patrickfuchs commented on #116
Very good idea 👍

[2021-06-17 13:36] pierrepo commented on #119
I'll try something.

[2021-06-17 14:55] HubLot commented on #86
You should put the whole string of the Warning message, i.e `Element information is absent or missing for a few `

[2021-06-17 14:59] patrickfuchs commented on #86
Thanks. And for the ones like `Deprecated in NumPy 1.20` ?

[2021-06-17 15:01] HubLot commented on #86
Not our concern :D

[2021-06-17 15:04] patrickfuchs commented on #86
Well it pollutes the output, that'd be nice if we could getting rid of them, even if we're not responsible!

[2021-06-17 15:06] HubLot commented on #86
I know but it's warnings of numpy about MDA.
If we silent them (numpy warnings), it would affect also buildh and could have side effects :(

[2021-06-17 15:19] patrickfuchs commented on #86
In this case, MDAnalsysis warnings may have side effects too... One other solution, we don't silent any warning but we explain in the documentation (notebooks) that is not our fault? And we could suggest, if wanted, it's possible to trash them like that: `buildH blablabla 2> /dev/null`

[2021-06-18 06:42] HubLot commented on #86
True but by specifying the message, we will only ignore the one "Element information[...]"  which we can agree is safe to ignore.
Plus, people with a full 'correct' PDB don't see this warning.

Yes why not, I'll put this in the `additional section` of the doc and stating that it's only occurs on numpy >= 1.20. We will remove it once it's has been took care at the MDA side.

[2021-06-18 07:30] patrickfuchs commented on #86
This one is not important and could be made silent for sure. But I'm thinking some future warnings may be important? We cannot know...

You mean you will do it? If not, I can take care of that. And yes, `additional section` is a good place.

[2021-06-18 07:54] HubLot commented on #86
i'm on it

[2021-06-18 09:31] #119 closed

[2021-06-18 15:42] pierrepo commented on #92
Useful documentation:
- https://www.caktusgroup.com/blog/2021/02/11/automating-pypi-releases/
- https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

[2021-06-20 21:34] pierrepo opened #125 "Add link to doc in the upper right corner of the GitHub page"
We can add a link to the doc in the project description in the upper-right corner of the GitHub page.

To do so, click on the gear (only visible to you @patrickfuchs):

![image](https://user-images.githubusercontent.com/733861/122688937-ab9dd980-d21f-11eb-8b4e-f93960fa707a.png)

In the Website field, add `https://buildh.readthedocs.io/`

You can also uncheck boxes `Packages` and `Environments`

[2021-06-22 17:01] patrickfuchs commented on #125
Thanks @pierrepo. I tried, but the field *Website* is in gray and I can't modify it. Do you know how to change this?

[2021-06-22 17:08] patrickfuchs commented on #109
Thanks for your contribution @pierrepo. I think we are fine now, there are only a few question marks to replace once we have the version number and the sfw number. I think we can close this issue if you agree!

[2021-06-22 17:10] patrickfuchs commented on #86
In principle, PR #121 should have closed this issue, so I do it manually.

[2021-06-22 17:10] #86 closed

[2021-06-22 17:15] patrickfuchs commented on #109
Wait... last minut little thing to do: I have to add a ref to the NMRlipidsIVb project using the DOI link to the Zenodo archive for paper: https://doi.org/10.5281/zenodo.4748646 (the paper is under revisions).

[2021-06-22 17:39] pierrepo commented on #125
No idea. It works out of the box for me :thinking:

[2021-06-23 10:03] #116 closed

[2021-06-23 10:03] #92 closed

[2021-06-23 11:50] patrickfuchs commented on #125
I  tried to search a bit, but found nothing interesting... In all examples, the Website can be changed, but in my case it's gray and I cannot edit it:

![website](https://user-images.githubusercontent.com/13885052/123091509-b926af80-d429-11eb-8d6d-ad66c9649c40.png)

Maybe something is checked somewhere which induces this behavior? Any idea @HubLot ?

[2021-06-23 11:55] HubLot commented on #125
you sure that when you click inside it you can't edit it?
Because I have the same behavior on the fork (or others repos) but I can click inside and modify it.

[2021-06-23 12:04] patrickfuchs commented on #125
Yes I am. For you, does it appear in black?

[2021-06-23 13:19] patrickfuchs commented on #109
Done in a0b3cd6. This was important to add NMRlipids IVb and the Databank refs since these are the projects that use buildH! So I can now close this issue.

[2021-06-23 13:19] #109 closed

[2021-06-23 14:36] HubLot commented on #125
No, it appears like you :/

[2021-06-23 14:51] pierrepo commented on #125
I think we will have to check this with you during a visio @patrickfuchs

[2021-06-23 17:24] patrickfuchs commented on #125
My bad, in fact it works very well and I can edit it, sorry :sweat_smile: !!! In fact, I was trying to select some text within that box using my mouse, this doesn't work. But if I type something it works 🎉

[2021-06-23 17:24] #125 closed

[2021-06-23 19:51] pierrepo opened #126 "Test: new release and automatic package deployment"
@patrickfuchs we would like to test the automatic deployment of PyPI and conda packages upon new release.

For this, could you please:

- [x] Create a token in PyPI (see [doc](https://github.com/patrickfuchs/buildH/blob/master/devtools/RELEASE.md#setup))
- [x] Store this token in the GitHub secrets for the repo (see [doc](https://github.com/patrickfuchs/buildH/blob/master/devtools/RELEASE.md#setup

[2021-06-23 20:49] patrickfuchs commented on #126
It worked for Zenodo and Pypi, but not for conda... I waited ~10' after the release and still not there, so I think the automatic deployement didn't work for conda.

[2021-06-23 21:15] pierrepo commented on #126
Thanks for testing @patrickfuchs
Good news for Zenodo and PyPI :tada:
We should probably wait a couple of hours for conda since it's Bioconda's bot that build the package for us.

[2021-06-23 21:41] patrickfuchs commented on #126
Indeed, something happened, I received a notification: https://github.com/bioconda/bioconda-recipes/pull/29200
So I think it worked 👍
Do you know what we have to do now?

[2021-06-23 21:48] pierrepo commented on #126
I guess nothing. Bioconda maintainers might have to approve this new version.

[2021-06-24 07:26] HubLot commented on #126
Yes, someone need to approve the PR so it can be merge.
Anyway, our automated tools work \o/

[2021-06-24 07:35] pierrepo commented on #126
Yep. This is awesome!

[2021-06-24 08:18] patrickfuchs commented on #126
Great 😄 So I guess we can close this issue?

[2021-06-24 08:40] pierrepo commented on #126
Could we wait some time the conda package is cooked?

[2021-06-24 21:27] pierrepo commented on #126
This is so cool!

![image](https://user-images.githubusercontent.com/733861/123334671-b9b36900-d543-11eb-9134-8ea00ab5d3bf.png)

[2021-06-25 07:17] patrickfuchs commented on #126
Yes it worked 🎉 !!! Someone from bioconda had to approve before it was merged, that's why it takes more time than Pypi.
Quick question, in the main README and in the section installation, I changed the link to Bioconda so that they point to the buildH page within Bioconda. But I realized there are 2 possible pages :

- main page: https://anaconda.org/bioconda/buildh
- a recipe page: http://biocond

[2021-06-25 07:19] pierrepo commented on #126
The one from anaconda.

[2021-06-25 07:30] #126 closed

[2021-06-25 10:18] patrickfuchs opened #127 "Update documentation regarding -v option"

[2021-06-25 10:19] pierrepo opened #128 "Automate archiving in Software Heritage upon release"
Software Heritage Save action
https://github.com/marketplace/actions/save-to-software-heritage

[2021-06-30 10:23] #128 closed

[2021-06-30 15:41] patrickfuchs opened #134 "Update MDAnalysis to 1.1.1"
In PR #130, we considered updating MDAnalysis to version 1.1.1. Someone has time to look at that?

[2021-06-30 15:41] #127 closed

[2021-06-30 16:30] pierrepo commented on #134
Interestingly, MDAnalysis 1.1.1 is [incompatible](https://github.com/MDAnalysis/mdanalysis/releases/tag/release-1.1.1) with Python 3.9.

By default, my conda envs have Python 3.9 by default, and the only compatible MDAnalysis version is 1.0.0 that produces that many warnings.

To force Python 3.8, here was I did:
[code]
For Python 3.8, the default MDAnalysis version is the latest, i.e. 1.1.1 :+1:

[2021-07-01 06:54] patrickfuchs commented on #134
Thanks @pierrepo ! This is indeed much better 😄 Indeed we can stay at Python 3.8 for now, this won't change anything for buildH.
I think you won't have the `warnings.warn("Reload offsets from trajectory\n ")` if you delete the tmp files created by MDAnalysis `.*.npz`. There's probably a mismatch of version or system if one such file was present in your dir. Could you give it a try?
Regarding `warn

[2021-07-02 12:59] patrickfuchs commented on #134
Just tried the Berger test case in a terminal:

[code]

No warning at all 😎

[2021-07-02 13:10] patrickfuchs commented on #134
I tried a Notebook with prior removing of `.*.npz` file:

[code]
I get rid of the first warning `warnings.warn("Reload offsets from trajectory\n ")`, but the other ones about `dt` are still there. I don't understand why we get them within the Notebooks and not in a Unix shell... Any idea?

[2021-07-05 06:39] pierrepo commented on #134
This is really weird. Are you sure you were in the same conda env?

[2021-07-05 08:26] patrickfuchs commented on #134
Yes... What is even weirder:

[2021-07-05 08:42] HubLot commented on #134
I think it's due to the option to *write* xtc and pdb files no?

[2021-07-05 09:02] patrickfuchs commented on #134
Well spotted  @HubLot, I've been too fast! Indeed they appear only if we use `-opx` option to write the traj with H.

[2021-07-05 10:19] patrickfuchs commented on #134
We just talked with @HubLot and found the solution. When we create the Universe with H, we do it initially with a single PDB, thus it has no dt info. When we write the new traj (with the xtc writer) this is there where MDAnalysis throws a warning. The solution, is to add the dt info of the Universe without H at the time when we create the Universe with H. Speedy @HubLot has already proposed a PR t

[2021-07-05 11:12] pierrepo opened #137 "Restrict BuildH for Python >= 3.6 and <= 3.8"
Due to the limited availability of MDanalysis for Python <= 3.8 (see issue #134), we should also restrict buildH for Python <= 3.8.

[2021-07-05 11:22] pierrepo commented on #137
According to the [documentation](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires), we should replace
[code]
by
[code]
in `setup.py`.

[2021-07-05 11:29] patrickfuchs commented on #134
The merge of PR#136 didn't close this issue, so I do it manually.

[2021-07-05 11:29] #134 closed

[2021-07-05 11:40] patrickfuchs commented on #137
Would that better go in `setup.cfg` ?

[2021-07-05 11:59] pierrepo commented on #137
Yes, of course, in `setup.cfg` ;-)

[2021-07-06 07:32] #137 closed

[2021-07-06 13:19] #110 closed

[2021-07-06 18:11] patrickfuchs opened #140 "Doc no longer compiles"
Since our downgrade to Python 3.8 (so that we can use MDAnalysis 1.1.1!) , the doc no longer compiles. An example:
https://readthedocs.org/projects/buildh/builds/14177467/ :

[code]

Looks like the doc is compiled with Python 3.9, so there's a version conflict.

[2021-07-07 12:29] #140 closed

[2021-08-02 19:45] lilyminium opened #144 "[Request] Add documentation for building from source with minimal dependencies"
1. The current documentation for building from source starts here: https://buildh.readthedocs.io/en/latest/installation.html#for-developpers

(typo note: developpers -> developers, developement -> development)

2. Which links to this fairly complete document on how to install via conda with an environment file: https://github.com/patrickfuchs/buildH/blob/master/devtools/install_dev.md

(suggestion

[2021-08-06 09:31] patrickfuchs commented on #144
Thanks very much @lilyminium for your suggestion.

Indeed I understand your point. In commit ad89bf3, I corrected the typos and created a new section `Building from source` in the [installation page](https://buildh.readthedocs.io/en/latest/installation.html), which explains how to build from source without installing the full dev environment.

Regarding the JOSS requirement "Is there a clearly-sta

[2021-08-06 09:35] patrickfuchs commented on #144
For some reason the build-documentation github action didn't work (although it did in July!), so you can check the update doc page [here](https://github.com/patrickfuchs/buildH/blob/master/docs/installation.md) for now. I will try to solve this action ASAP, but I may need my colleague @pierrepo who is currently on vacation.

[2021-08-09 15:51] patrickfuchs opened #145 "Fixing box dimensions and trajectory output with Hs"
In PR #142, this line proposed a way to write box dimensions in the xtc:
https://github.com/patrickfuchs/buildH/blob/1a2c740136910b3293dde395cb37e76ecb566454/buildh/core.py#L649

Unfortunately, for some reason, it *rewinds the trajectory* to the first frame so that the newly built xtc with Hs gets the same (first) frame written at each iteration of the loop!!!
In commit d5a35c4, I fixed that with

[2021-08-09 15:54] patrickfuchs commented on #145
I also added some tests (commit ac6303d) to check the integrity of the newly generated pdb and xtc with Hs.

[2021-08-10 00:19] lilyminium opened #146 "Which three things? (docs)"
Contributing.md starts off with:

I think perhaps the "follow these three things" belongs further down the page?

[2021-08-10 00:25] lilyminium opened #147 "Contributing credit?"
It seems that much of Contributing.md is adapted from the linked blog post. Should you credit the author?

[2021-08-10 12:47] patrickfuchs commented on #144
I could fix the doc compilation in commit 7441be9. Now the section *Building from source* is readable in the doc page: https://buildh.readthedocs.io/en/latest/installation.html#building-from-source.

[2021-08-10 13:08] patrickfuchs commented on #147
Sure. This was done in 4dbe4a8.

[2021-08-10 13:09] patrickfuchs commented on #146
I corrected the sentence and the menu in 4dbe4a8, one item was missing.

[2021-08-28 11:27] richardjgowers commented on #145
@patrickfuchs just to clarify this behaviour.  MDAnalysis only holds a single frame in memory at any time (with memoryreader being the exception) `u.trajectory[n]` is the syntax for loading frame `n` of a trajectory.  It's worth noting that changes to `.dimensions` / `.positions` won't be persistent if you move between frames.  Let me know if you have any more questions on this behaviour.

[2021-08-28 11:30] richardjgowers commented on #73
@patrickfuchs

https://github.com/MDAnalysis/MDAnalysis.github.io/blob/master/pages/used-by.md

Can PR onto this

[2021-08-28 15:18] lilyminium commented on #146
Thank you!

[2021-08-28 15:18] #146 closed

[2021-08-28 15:18] lilyminium commented on #147
Thank you!

[2021-08-28 15:18] #147 closed

[2021-08-28 15:19] lilyminium commented on #144
Thank you!

[2021-08-28 15:19] #144 closed

[2021-08-28 15:26] lilyminium opened #148 "Which OSs are supported?"
I see that the tests run on Ubuntu, so I could reasonably expect buildH to work on Linux and Mac OSs (although adding even 1 test case for Mac would help with looking for bugs). Just curious, is Windows supported at all, and if so, will you add CI? I see that the conda package is `noarch`.

[2021-08-28 16:35] lilyminium opened #149 "Minor wording or grammar nitpicks with paper"
Thank you for your paper. I have listed here a number of minor nitpicks with the wording or grammar, followed by suggestions. These are all just suggestions, but I have bolded any words or grammar that I really believe should be changed for clarity. Please let me know if I should give more information anywhere.

Suggestion: "the aliphatic hydrogen atoms (Hs) are merged **with** their parent carbon

[2021-08-28 21:37] ojeda-e opened #150 "Improvements on API documentation"
I have a couple of suggestions to improve the readability of the docs.

1. API [geometry](https://buildh.readthedocs.io/en/latest/api/geometry.html).

- The [order parameter equation](https://github.com/patrickfuchs/buildH/blob/4dbe4a81348c2be10e0e76ccbbc6b0722e1d9789/buildh/geometry.py#L180) is displayed as text. Suggestion: Using the `.. math::`  sphinx markup for equations will make it more rea

[2021-08-28 22:18] ojeda-e opened #151 "Python versions and dependencies."
The [Requirements](https://github.com/patrickfuchs/buildH#requirements) section in the README says:

- Is there a way to know the minimum versions of the dependencies?
- numpy -> NumPy.

- Since the repo doesn't include CI, out of curiosity, how did you identify Python 3.6 as min and 3.8 as max versions?

[2021-08-30 06:21] pierrepo commented on #151
Hi @ojeda-e

Not for all. However, MDAnalysis is the strongest dependency. We need MDAnalysis version >= 1.1.1 due to some annoying warning messages in previous versions. MDAnalysis itself requires [NumPy >= 1.16.0](https://github.com/MDAnalysis/mdanalysis/blob/develop/package/setup.py).

We have a CI as GitHub actions, see for instance in the `.github/workflows` directory.

We need Python 3.6 bec

[2021-08-30 06:27] pierrepo opened #152 "Test and update to MDAnalysis 2.0.0"
[MDAnalysis 2.0.0](https://github.com/MDAnalysis/mdanalysis/releases/tag/release-2.0.0) has been released a week ago. This new release is compatible with Python 3.9 (contrary to previous version 1.1.1 compatible up to Python 3.8).

We might want to evaluate this new release and update to it.

[2021-08-30 09:55] patrickfuchs commented on #145
Thanks very much @richardjgowers for this clarification, this is very useful. We made the change using the syntax `u.trajectory[n]` just before submission (to avoid some warnings from MDAnalysis), but were not aware of this behavior. I think now we are fine.

[2021-08-30 09:56] patrickfuchs commented on #73
@richardjgowers, thanks for the suggestion. Sure I will once buildH is accepted.

[2021-08-30 10:04] patrickfuchs commented on #152
Yes good idea. We can talk about it this afternoon.

[2021-08-30 12:27] HubLot commented on #145
well spotted @patrickfuchs!
I don't understand how the previous code was supposed to work now I see the fix...
This bug,  by itself, should trigger a minor version upgrade.

[2021-08-30 13:43] HubLot commented on #152
- [ ] Ensure tests still passed with MDA 2.0
- [ ] Check if we can simplify code.yml for GitHub Actions
- [ ] Ensure Jupyter notebooks are still working

[2021-08-30 15:20] patrickfuchs commented on #152
Just tried the notebooks with MDAnalysis2.0. We have some new Warnings for Notebooks 2, 3, 4 and 5. Always the same ones, for example in Notebook 2 :

[code]
The first warning appears when we create the Universe with a pdb (no problem with a gro).
The second warning appears when we use option `-opx`, I guess when we create the Universe with Hs.

Looks like MDAnalysis [can't guess some attributes](

[2021-08-30 15:41] patrickfuchs commented on #149
Thanks very much @lilyminium, this is very useful. I corrected the wording according to your suggestions in 5294e91 and ac30bb8.

[2021-08-30 16:44] lilyminium commented on #152
Those warnings will always appear for reading a PDB file without an elements column. You could guess the elements from names, I think it should work alright for standard atom names, but I think it'll assign CH groups as C. For reading in PDB files you could get rid of the warnings by using a TPR file instead. Alternatively, you could just [filter this specific warning](https://docs.python.org/3/li

[2021-08-30 16:46] lilyminium commented on #149
Thank you!

[2021-08-30 16:46] #149 closed

[2021-08-31 07:37] patrickfuchs commented on #152
Thanks very much @lilyminium, this is very useful! I think we will probably silent the warning coming from the input pdb because we are not sure whether the user provides a valid pdb. For the output pdb, we can indeed add the element. It's not an issue *per se* since we don't use the element attributes.

[2021-08-31 07:39] patrickfuchs commented on #148
Thanks for your comment. We didn't plan to check different OS versions. In principle, buildH is pure Python so it should work on any platform provided its dependencies are supported. We will add a note in the doc about this.

[2021-08-31 09:38] patrickfuchs commented on #152
I understand why those warnings appeared, this is just because it changed between MDAnalysis 1.1.1 and 2.0.0.
- 1.1.1: `"Element information is absent or missing for a few ..."`
- 2.0.0: `"Element information is missing, elements attribute will not be populated..."`

In fact, we already silenced this warning in the previous version in `__init.py__`. I update this now.

[2021-08-31 09:42] patrickfuchs commented on #152
Done in 87cc4fb !

[2021-08-31 09:42] #152 closed

[2021-08-31 11:58] #145 closed

[2021-08-31 12:11] patrickfuchs commented on #150
Thanks for the useful suggestions @ojeda-e. @HubLot will implement all of these within a couple of days.

[2021-08-31 12:39] HubLot commented on #150
Thanks @ojeda-e for your detailed issue. I create a PR (#154) which should fix all the points raised and some others too I spotted during reviewing the docstrings.

[2021-08-31 13:23] #150 closed

[2021-09-01 09:25] patrickfuchs commented on #148
We added a section in commit d58f1e4.

[2021-09-01 09:37] patrickfuchs commented on #151
With the new version 1.6.0 just released, buildH is now fully compatible with MDAnalysis 2.0.0 and Python 3.9.

[2021-09-02 04:36] ojeda-e commented on #151
Thanks for your answers, @pierrepo @patrickfuchs.
I missed your CI, my apologies. I see the tests for Python 3.6, 3.7, 3.8, and 3.9. I also found minimum versions of dependencies in the [documentation](https://buildh.readthedocs.io/en/latest/installation.html), which makes everything more clear.
Thanks for adding these changes.

[2021-09-02 04:36] #151 closed

[2021-09-04 00:48] lilyminium commented on #148
I see -- thank you!

[2021-09-04 00:48] #148 closed

[2021-09-16 12:32] patrickfuchs opened #155 "Update swh link to the new version 1.6.0"

[2021-09-17 07:36] #155 closed

[2021-12-06 17:27] ohsOllila opened #157 "CH3 groups"
I have been finally able to come back to united atom simulations and their quality evaluation in the NMRlipids project.

While doing this I encountered again to the issue of order parameter of CH3 groups. The hydrogen positions for these groups are not uniquely defined in united atom models, and therefore the resulting order parameters for these groups are not reasonable. This is a practical probl

[2021-12-08 10:42] patrickfuchs commented on #157
Thank you for your comment @ohsOllila. Indeed we cannot know the CH3 rotation, so I'm not surprised the reconstructed C-H don't give correct order parameters (OP). However, I would think that the mean OP over the 3 reconstructed C-H should be correct, is it? If yes, maybe we could write this mean OP in the output?
Even if the reconstruction doesn't give correct OP for CH3, I think this still would

[2021-12-13 14:43] ohsOllila commented on #157
I have not checked the average order parameters.

The issue from the NMRlipids databank point of view is that the quality evaluation takes all the order parameters and automatically compares to experiments, which indeed does not make sense for CH3 hydrogens. From our point of view the easiest solution would be not to calculate those at all. So from our point of view, the flag option would work out

[2021-12-16 15:55] HubLot commented on #157
To follow up on this issue, the idea will be to add a flag `--ignore-CH3s` to prevent `buildH` to calculate OP.

More precisely, `init_dic_OP` will be modified to take as argument the full `dic_lipid` dict and this flag and don't create the key of `dic_op` (dictionary of results) when the OP is part of a CH3.

[code]

[2021-12-16 16:09] patrickfuchs commented on #157
Thanks a lot @HubLot 👍 We will try to implement this early january.

[2021-12-20 08:16] ohsOllila commented on #157
Thanks. We would use it as soon as it is available.

[2021-12-21 10:12] patrickfuchs commented on #157
All right, we plan to do that early january 2022, we'll make you know.

[2022-01-13 14:07] ohsOllila opened #159 "Beta hydrogens in PS"
When adding united atom simulation data into the NMRlipids databank, we noticed with @larabort that beta hydrogens in POPS headgroups in Berger and Gromos have a type of "CHdoublebond":
https://github.com/patrickfuchs/buildH/blob/master/buildh/lipids/Berger_POPS.json
https://github.com/patrickfuchs/buildH/blob/master/buildh/lipids/GROMOSCKP_POPS.json

I am not sure, but my feeling is that "CH" and

[2022-01-17 16:11] patrickfuchs commented on #157
@ohsOllila, the option `-igch3` is now implemented to the command line and it is fully functionnal. It is also usable in a module mode with the option `ignore_CH3s`: `buildh.launch(..., ignore_CH3s=True)`. Don't hesitate to post an issue (or reopen that one) if something goes wrong or if you need anything else.

Since this new option is implemented, I close this issue.

[2022-01-17 16:11] #157 closed

[2022-01-17 17:01] patrickfuchs commented on #159
Thanks for the comment @ohsOllila, I think you're right. We'll correct that as soon as we can.

[2022-01-17 17:23] patrickfuchs commented on #159
I just checked, indeed this carbon should be a CH with the three helpers that include the neighboring nitrogen.

[2022-01-20 09:49] #159 closed

[2022-03-28 06:12] ohsOllila commented on #44
We have now progressed in adding also united atom trajectories in the NMRlipids databank with @larabort and we have come to the point that we would like to add trajectories for which json files are not yet available in here: https://github.com/patrickfuchs/buildH/tree/master/buildh/lipids

Specifically we would be currently interested to add the following lipids simulated with the Berger force fie

[2022-03-28 16:10] patrickfuchs commented on #44
It is always possible to build your own json file and supply it to buildh with the option `-lt`. However, if @larabort does this job, I think it could be useful to incorporate them in buildH so that they could be available for everyone. In this case, @larabort can do a PR. A couple of remarks if you'd like to PR though:
- we incorporate new lipids json files which contain all possible Hs to recons

[2022-03-29 09:08] larabort opened #164 "Missing carbon atoms"
When implementing a data set with a DPPC bilayer using Poger GROMOS 53A6_L force field into the NMRlipids databank, I was wondering whether there are missing two lines in here:
https://github.com/patrickfuchs/buildH/blob/master/buildh/lipids/GROMOS53A6L_DPPC.json

I suspect that there also have to be the two carbon atoms C1H and C2H and the related information:
"C1H": ["CH2", "C1G", "C1I"],
"C2H":

[2022-03-29 13:21] patrickfuchs commented on #164
Thanks @larabort for reporting this. There is indeed a pb. And it's even detected by buildH which raises this error:
[code]
I didn't check this lipid when it was added. Indeed your suggestion look correct. I fix this ASAP and make you know.

[2022-03-29 14:04] patrickfuchs commented on #164
I pushed the fix, it should be OK now. Could you give it a try?

[2022-03-29 14:36] HubLot commented on #164
My bad here. I thought I tested the Poger FF before added the JSON file. I guess not...

[2022-03-29 14:48] larabort commented on #164
Thank you for fixing that. Now it seems to be correct.